In [14]:
from config import *
import pandas as pd
%matplotlib inline
from analyzer import *

In [3]:
days = pd.read_csv(CLUSTERED_DAYS_PATH_OUT)

In [4]:
days.cluster_id.unique()

array([4, 2, 0, 5, 1, 3])

In [9]:
days.columns

Index(['index', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       'totals', 'weekday', 'Start_Lon_mean', 'Start_Lat_mean', 'End_Lon_mean',
       'End_Lat_mean', 'Start_Lon_std', 'Start_Lat_std', 'End_Lon_std',
       'End_Lat_std', 'Start_Lon_meanAM', 'Start_Lat_meanAM', 'End_Lon_meanAM',
       'End_Lat_meanAM', 'Start_Lon_stdAM', 'Start_Lat_stdAM', 'End_Lon_stdAM',
       'End_Lat_stdAM', 'Start_Lon_meanPM', 'Start_Lat_meanPM',
       'End_Lon_meanPM', 'End_Lat_meanPM', 'Start_Lon_stdPM',
       'Start_Lat_stdPM', 'End_Lon_stdPM', 'End_Lat_stdPM', 'cluster_id',
       'holidays'],
      dtype='object')

In [12]:
days.groupby('cluster_id').size()

cluster_id
0    39
1     6
2     8
3     1
4     1
5    63
dtype: int64

In [15]:
trips = index_by_datetime(pd.read_csv(TRIPS_PATH_IN))

In [16]:
trips.head()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
starttime,,,,,,,,,,,,
2018-01-01 00:01:51,196,315,40.703554,-74.006702,259,40.701221,-74.012342,18534,Annual Membership,Subscriber,1997.0,1
2018-01-01 00:02:44,207,3224,40.739974,-74.005139,470,40.743453,-74.000040,19651,Annual Membership,Subscriber,1978.0,1
2018-01-01 00:03:15,613,386,40.714948,-74.002345,2008,40.705693,-74.016777,21678,Annual Membership,Subscriber,1982.0,1
2018-01-01 00:06:44,375,466,40.743954,-73.991449,325,40.736245,-73.984738,29822,Annual Membership,Subscriber,1982.0,1
2018-01-01 00:06:57,402,438,40.727791,-73.985649,380,40.734011,-74.002939,30722,Annual Membership,Subscriber,1989.0,1

In [19]:
days.cluster_id

0      4
1      2
2      2
3      0
4      0
5      0
6      0
7      5
8      5
9      5
10     5
11     5
12     0
13     0
14     0
15     5
16     5
17     5
18     5
19     0
20     0
21     5
22     2
23     5
24     5
25     5
26     0
27     0
28     5
29     5
      ..
88     0
89     2
90     5
91     5
92     5
93     2
94     0
95     0
96     5
97     5
98     5
99     5
100    5
101    0
102    0
103    1
104    5
105    5
106    5
107    5
108    0
109    0
110    1
111    1
112    5
113    1
114    5
115    0
116    0
117    5
Name: cluster_id, Length: 118, dtype: int64